{% extends 'base.html.twig' %}

{% block title %}Edit Globalsettings{% endblock %}

{% block body %}
    <h1>Edit Globalsettings</h1>

    {{ include('admin/globalsettings/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
