{% extends 'base.html.twig' %}

{% block title %}New Globalsettings{% endblock %}

{% block body %}
    <h1>Create new Globalsettings</h1>

    {{ include('admin/globalsettings/_form.html.twig') }}

    <a href="{{ path('app_globalsettings_index') }}">back to list</a>
{% endblock %}
