{% block footer %}
    {% set checkroute = '/admin' %}

    {# disable the footer for the admin area #}
    {% if checkroute in app.request.pathInfo %}
    {% else %}

    <footer>
        {# <div class='footer-links'>
            <div class='menu-item' data-scroll="#section-first">home</div>
            <div class='menu-item' data-scroll="#section-second">projects</div>
            <div class='menu-item' data-scroll="#section-fifth">contact</div>
        </div> #}
        <div style='font-size:.85em;'>© Lucianturlea {{ 'now'|date('M Y') }} | All rights reserved by Lucian Turlea</div>
    </footer>

    {% endif %}
    

{% endblock %}